@media screen and (max-width: 320px){
  .wrapper{
    align-self: center;
      text-align:center;
      background:
      linear-gradient(to top left, #304352, transparent),
      linear-gradient(to top right, #1F1C18, transparent);
  background-blend-mode: screen;
      width: 320px !important;
      margin-top: 0;
      margin-left: auto ;
      margin-right: auto ;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
}

body{
  background:
        linear-gradient(to top left, #1F1C18, transparent),
        linear-gradient(to top right, #304352, transparent);
    background-blend-mode: screen;
   margin: 0;
  padding: 0;
}
.wrapper{
  align-self: center;
    text-align:center;
    background:
        linear-gradient(to top left, #304352, transparent),
        linear-gradient(to top right, #1F1C18, transparent);
    background-blend-mode: screen;
    width: 500px;
    margin-top: 0;
    margin-left: auto ;
    margin-right: auto ;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .dob{
    margin-top: 1rem;
    border-radius: 18px;
    padding: 6px;
    padding-left: 28px;
    padding-right: 28px;
    background-color: #fff;
  }
  .fa-cc-paypal{
    margin-bottom: 1rem;
  }
  h2, h4{
    color: #fff;
  }
  h4{
    font-size: 18px;
    font-weight: bolder;
  }
  label{
    color: #fff
  }
  i{
    color: #fff
  }
  .name{
    border-radius: 18px;
    padding: 6px;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 1rem;
    background-color: #fff;
    box-shadow: none;
  }
  ::placeholder {
    color: #000;
  }
  input{
    color: #fff;
  }
  select{
    margin-top: 1rem;
  }
  button{
    margin-top: 1rem;
    border-radius: 2rem;
    padding: 7px;
    background-color: #505857;
    color: #fff;
  }
  select{
    border-radius: 2rem;
    padding: 7px; 
  }